@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit;
}

#root{
  min-height: 100vh;
  display: flex;
  /* position: relative; */
}

/* Black Fade-in Effect */
/* #root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 999;
  animation: blackFadeOut 1.2s forwards;
} */

/* Animation to fade out the black overlay */
/* @keyframes blackFadeOut {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
} */